body{
	text-align: center;
}


.title {
	margin: 9% 0;
	display: inline-block;
	border-bottom: solid 1px #000000;
}

h2 {
		font-family: 'Raleway', sans-serif;
        display: inline-block;
        margin: 0 auto;
		font-size: 4em;
}
	